{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=barlow-semi-condensed:300,500" rel="stylesheet" />
    <title>Gehörbildung | Module</title>
</head>

<body>
    <header></header>
    <nav>
        <ul class="sidebar" id="sidebar" aria-hidden="true">
            <li>
                <button class="icon-btn close-btn" aria-label="Menü schließen" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
            </li>
            <li><a href="#">Alle Begriffe</a></li>
            <li><a href="#">Über dieses Projekt</a></li>
            <li>
                <form method="post" action="{% url 'admin:logout' %}">
                    {% csrf_token %}
                    <input class="btn" type="submit" value="Abmelden" />
                </form>
            </li>
        </ul>
        <div class="nav-container">
            <h1><a href="{% url 'modules:entry_list' %}">Unterricht in Gehörbildung</a></h1>
            <ul class="main">
                <li>
                    <button id="themeSwitch" class="theme-switch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-icon lucide-moon"><path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-icon lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                    </button>
                </li>
                <li>
                    <button class="icon-btn menu-btn" aria-controls="sidebar" aria-expanded="false" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
                    </button>
                </li>
            </ul>

        </div>
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="message">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock content %}
<script defer src="{% static 'modules/js/script.js' %}"></script>
</body>
<footer class="site-footer">
  <div class="footer-top">
    <p>Gehörbildung – Ein Portfolio-Projekt</p>
  </div>

  <div class="footer-links">
    <a href="{% url 'modules:entry_list' %}">Startseite</a>
    <a href="{% url 'about' %}">Über</a>
    <a href="{% url 'contact' %}">Kontakt</a>
    <a href="{% url 'impressum' %}">Impressum</a>
    <a href="{% url 'datenschutz' %}">Datenschutz</a>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Līga Auguste · Design & Entwicklung</p>
  </div>
</footer>

<br>
<br>
</html>