{% extends "entries/base.html" %}

{% block content %}
<div class="lectures-container">
    <article class="lecture editable-lecture">
    <!-- <h3 class="mark">{% now "Y-m-d H:i" %}</h3> -->
    <h1><a class="add-module-btn" href="{% url 'entry-create' %}">+Neues Modul hinzufügen</a></h1>
    </article>
{% for entry in entry_list %}
<article class="lecture">
    <h3 class="{{ entry.date_created|date:'l' }}">
        {{ entry.date_created|date:'Y-m-d H:i' }}
    </h3>
    <h2>
        <a href="{% url 'entry-detail' entry.id %}">
            {{ entry.title }}
        </a>
    </h2>
    <p>
        <a href="{% url 'entry-update' entry.id %}" class="btn">Edit</a>
        <a href="{% url 'entry-delete' entry.id %}" class="btn">Delete</a>
    </p>
</article>
{% endfor %}
</div>
{% endblock content %}